/* Used for the welcome page text*/
#welcome {
    font-family: 'Montserrat'; font-size:40px;
    color: #ffa500;
}

/* Used for the buttons creating a border and making it blue*/
#dib {
    margin:auto;
        font-family: 'Montserrat'; font-size:25px;
        color: white;
        border: 12px solid #00cdff;
        border-radius: 12px;
        background-color: #00cdff;
     
}

/* text */
.undtxt {
    padding: 15px;
    font-family: 'Montserrat'; font-size:20px;
}

/* For the nav link making them the same font and the color black*/
.nav-link {
        margin: 5px;
        color: black;
        font-family: 'Montserrat'; font-size:15px;
}

/* used for the .user_name class */
.user_name{
    margin: 2px;
    color: black;
    font-family: 'Montserrat'; font-size:15px;

}

/* sets the specs for h1, h2 and p */
h1{
    margin: 2px;
    color: #ffa500;
    font-family: 'Montserrat'; font-size:40px;
}
h2{
    margin: 2px;
    color: black;
    font-family: 'Montserrat'; font-size:30px;
}
p {

    color: black;
    font-family: 'Montserrat'; font-size:13px;
}
/* sets the min-height for the jumbotron so that all the pages
    look the same unless the page is extended like in the movielist */
.jumbotron {
    min-height : 500px;
}
.sub {
    color: black;
    font-family: 'Montserrat'; font-size:10px;
}