<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Includes the code from the head file in order use bootstrap/css-->
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
       <!-- Inserts the code for the header which creates the logo and the tabs on the top of the page-->
        <%- include('../partials/header'); %>
       
    </header>

    <main>

        <!-- creates a jumbotron to encapsulate the data into one section and then centers it-->
        <div class="jumbotron" align="center">

            <!-- Main text -->
            <p1 id="welcome">Welcome to RandFlick!</p1>

        
        </div>
       
    </main>

    <footer>
       <!-- Includes the code for the footer that will show up at the bottom of the page -->
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>