
<!-- Navagation bar that will display at the top of the page-->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">F1 Laps</a>
  <!-- nav for the home button if they click it, it will redirect
    them to the home page in "/"-->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
  </ul>
</nav>