<meta charset="UTF-8">
<title>F1Info</title>
<!-- icon at the top of the tab for my little logo-->
<link rel = "icon" href = "icon.png" type = "image/x-icon">
<!-- link for the bootstrap that was used in the project-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<!-- CSS (load bootstrap from a CDN) -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.js"> </script>
<link rel="stylesheet" type="text/css" href="styles.css">
<!-- links the fonts that was used in the code for the h1,h2,p-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<!-- padding used for every body-->
<style>
    body { padding-top:10px; }
</style>