p {

    color: black;
    font-family: 'Montserrat'; font-size:13px;
}
#search {
    min-height : 300px;
    background-color:#012840;
    
}
#image{
    width: 30%;
    height: 30%;
}
#T1{
    background-color:yellow;
}
#leadm {
  
    background-color:#012840;
    max-width: 555px;
    
}
#leadc {

    background-color:#012840;
    max-width: 555px;
    
}
#main{
    min-height : 700px;

    background-color: #012840;
    position: relative;

}
h1 {
  
    color: lightcoral;
    text-align:center;
}
h3 {
    color: white;
    


}
#raceinfo {
    min-height : 300px;

    background-color: #012840;
    position: relative;
}
#picture, #laptimes, #graph {
    min-height : 450px;
    max-height: 300px;
    background-color: #EB9217;
    position: relative;


}
#textb{
   color: #012840;
}
#driverpic{
    border: 5px solid #012840;
    border-radius: 10px;

}
#tablelap{
    border: 5px solid white;
    border-radius: 10px;
    background-color: #012840;
    color:white;
}
/*
#song, #oldrace{
    width: 200px;
}
/*
#welcome {
    font-family: 'Montserrat'; font-size:40px;
    color: #ffa500;
}
Used for the buttons creating a border and making it blue
#dib {
    margin:auto;
        font-family: 'Montserrat'; font-size:25px;
        color: white;
        border: 12px solid #00cdff;
        border-radius: 12px;
        background-color: #00cdff;
     
}

 text 
.undtxt {
    padding: 15px;
    font-family: 'Montserrat'; font-size:20px;
}

 For the nav link making them the same font and the color black
.nav-link {
        margin: 5px;
        color: black;
        font-family: 'Montserrat'; font-size:15px;
}

used for the .user_name class 
.user_name{
    margin: 2px;
    color: black;
    font-family: 'Montserrat'; font-size:15px;

}

 sets the specs for h1, h2 and p 
h1{
    margin: 2px;
    color: #ffa500;
    font-family: 'Montserrat'; font-size:40px;
}
h2{
    margin: 2px;
    color: black;
    font-family: 'Montserrat'; font-size:30px;
}
 sets the min-height for the jumbotron so that all the pages
    look the same unless the page is extended like in the movielist 
.jumbotron {
    min-height : 500px;
}
.sub {
    color: black;
    font-family: 'Montserrat'; font-size:10px;
}
    */